*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    font-weight: 30px;

}
body::before {
    content: ""; 
    background: url('../static/img2\ \(2\).jpg') center center no-repeat; 
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
.abhi{
    height: 87%;
    width: 100%;
    text-align: center;
    color: #340327;
    text-shadow: 3px 3px 6px solid rgb(19, 8, 8);
    font-size: 42px;
    padding-top: 65px;
}